<h1>{{ project.store.name }}</h1>
<p>Connected to <code>{{ project.connection }}</code></p>
{% if project.store.description %}
<p>{{ project.store.description }}</p>
{% endif %}
<p>{{ project.store.metrics | length }} metrics, {{ project.store.dimensions | length }} dimensions</p>
