<h1>{{ project.data_model.name }}</h1>
<p>Connected to <code>{{ project.connection }}</code></p>
{% if project.data_model.description %}
<p>{{ project.data_model.description }}</p>
{% endif %}
<p>{{ project.data_model.metrics | length }} metrics, {{ project.data_model.dimensions | length }} dimensions</p>
