@import "./colors.scss";
body {
    background-color: $background;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
    font-weight: 300;
    color: $text-primary;
}

.card {
    @include card-shadow;
    display: flex;
    flex-direction: column;
    background-color: $card-background;
    font-size: 14pt;
    font-weight: 200;
    &.metric {
        border-top: 2px solid $blue;
    }
    &.dimension {
        border-top: 2px solid $green;
    }
    padding: 10pt 15pt;
}

.container {
    max-width: 1070px;
    padding: 0 10px;
    margin: 0 auto 0 auto;
    height: 100%;
}